page-instructor-search {
    ion-select {
        max-width: 80%;
        background-color: #f4f4f4;
        margin: auto;
    }

    .select-text {
        white-space: normal;
    }

    .item-cover {
        height: 10%;
    }

    .instructor_name {
        color: color($colors, primary, base);
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.alert-radio-label {
    white-space: normal !important;
}
