<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cerca Docenti</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-select placeholder="Seleziona un CdL" [(ngModel)]="selected_cdl" (ngModelChange)="selected_cdl_changed(selected_cdl)">
        <ion-option *ngFor="let cdl of cdl_list" [value]="cdl.id">
            {{cdl.name}}
        </ion-option>
    </ion-select>

    <ng-container *ngIf="selected_cdl">
        <ng-container  *ngIf="selected_cdl == 1">
            <ion-searchbar placeholder="Cerca docenti" (ionInput)="search_items($event.target.value)"></ion-searchbar>
            <ion-list>
                <button class="instructor_name" ion-item clear full *ngFor="let instructor of searchable_list; let i=index" (click)="open_instructor(i)">
                    {{instructor.name}}
                </button>
            </ion-list>
        </ng-container>
        <p style="text-align:center;" *ngIf="selected_cdl != 1">
            <img src="https://img.icons8.com/metro/104/000000/road-worker.png">
        </p>
    </ng-container>
</ion-content>
