<!-- <ion-header>
    <ion-navbar color="primary">

        <ion-title style="text-align: center;">
            MAGI
        </ion-title>
    </ion-navbar>
</ion-header> -->

<ion-content class="login-content" padding>
    <ion-row class="logo-row">
        <ion-col style="text-align: center;">
            <img src="imgs/stemma.svg" />
        </ion-col>
    </ion-row>
    <ion-row justify-content-center class="nome_app">
        <h1 class="app_name">UniFiAdvisor</h1>
    </ion-row>
    <div class="login-box">
        <form [formGroup]="login_form">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-input type="text" placeholder="Email o Username" name="username" [(ngModel)]="credentials.username" formControlName="username" autocapitalize="off"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" formControlName="password"></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" block type="submit" [disabled]="!login_form.valid" (click)="login()">Login</button>
                    <button ion-button class="register-btn" block outline (click)="create_account()">Crea un nuovo account</button>
                </ion-col>
            </ion-row>
        </form>

    </div>
</ion-content>
