page-login {
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .swiper-slide {
        display: block;
    }

    .select-text,
    ion-label {
        margin-left: 10px;
    }

    ion-item {
        background-color: #f2f2f2 !important;
    }

    ion-input,
    ion-select,
    ion-textarea {
        padding: 5px 10px;
    }

    .content-md {
        background-color: transparent;
    }

    .nome_app {
        color: color($colors, primary, base);
    }

    .logo-row img {
        width: 190px;
    }

    .register-btn {
        margin-top: 10px;
    }

    .app_name {
        padding-top: 10px;
        margin-bottom: -5px !important;
    }
    // background: url("../../imgs/stemma_grigio_no_background.svg");
    // background-repeat: no-repeat;
    // background-size: auto 50%;
    // background-position: center bottom -50%;
}
