page-register {
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .swiper-slide {
        display: block;
    }

    .select-text,
    ion-label {
        margin-left: 10px;
    }

    ion-item {
        background-color: #f2f2f2 !important;
    }

    ion-input,
    ion-select,
    ion-textarea {
        padding: 5px 10px;
    }

    p {
        color: #ea6153;
    }
}
