<!--
Generated template for the RegisterPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="primary">
        <ion-title>Registrazione</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row>
        <ion-col></ion-col>
        <ion-col width-67>
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCl9SgxyGcMSyDsLtcJ73UIljBLwLc-MSWUhgIujO5ttafPYq4uw"/> -->
            <!-- "http://wtc.committees.comsoc.org/files/2015/09/Fantacci.jpg"/> -->
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div>
        <form (ngSubmit)="registration()" [formGroup]="register_form">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <!-- [class.invalid]="(!register_form.controls.email.valid && submit_attempt) && (email_err_submit)" -->
                            <ion-input type="text" placeholder="Email (nome.cognome@stud.unifi.it)" name="email" formControlName="email" autocapitalize="off"></ion-input>
                        </ion-item>
                        <p *ngIf="!register_form.controls.email.valid && submit_attempt && (email_err_submit)">Inserire l'email accademica (nome.cognome@stud.unifi.it)</p>

                        <div formGroupName="passwords">
                            <ion-item>
                                <!-- [class.invalid]="(!register_form.controls.passwords.controls.password.valid && submit_attempt) && (pass_err_submit)" -->
                                <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
                            </ion-item>

                            <p *ngIf="(!register_form.controls.passwords.controls.password.valid && submit_attempt) && (pass_err_submit)">
                                Scegliere una password di almeno 8 caratteri </p>

                            <ion-item>
                                <!-- [class.invalid]="password_do_not_match()" -->
                                <ion-input type="password" placeholder="Conferma la password" name="password"  formControlName="confirm_password">
                                </ion-input>
                            </ion-item>
                            <p *ngIf="password_do_not_match()">
                                Le Password non corrispondono
                            </p>
                        </div>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <button ion-button full type="submit">Registrati</button>
                </ion-col>
                <!-- [disabled]="!register_form.controls.passwords.valid" -->
            </ion-row>

        </form>
    </div>
</ion-content>
