<ion-header>
    <ion-navbar color="primary">
	<ion-title *ngIf="!existing_rating">Valuta</ion-title>
	<ion-title *ngIf="existing_rating">Modifica la tua valutazione</ion-title>
	<ion-buttons end>
	    <button  ion-button clear end icon-only *ngIf="selected_instructor | async"
		     (click)="close()">
		<ion-icon name="close"></ion-icon>
            </button>
	</ion-buttons>
    </ion-navbar>
</ion-header>



<ion-content>
    <ion-list no-lines>

	<ion-row justify-content-center>
	    <h3 text-center *ngIf="selected_instructor | async">
		{{selected_instructor.value.name}}
	    </h3>
	</ion-row>

	<ion-item>

	    <ion-label style="color: #999;">
		Stelle:
		<ionic3-star-rating text-center #stars activeIcon="star"
				    defaultIcon="star-outline"
				    activeColor="#488aff"
				    defaultColor="#f4f4f4"
				    readonly="false"
				    [rating]="existing_rating?existing_rating.stars:3">
		</ionic3-star-rating>
	    </ion-label>
	</ion-item>

	<ion-item>
	    <ion-label floating>Commento (facoltativo)</ion-label>
	    <ion-textarea #comment autocomplete="on" autocorrect="on"
			  [value]="existing_rating?existing_rating.comment:'' " >
	    </ion-textarea>
	</ion-item>


    </ion-list>

    <button ion-button full color="primary" (click)="save_rating()">Salva</button>
    <button *ngIf="existing_rating" ion-button full color="primary" (click)="delete_rating()">
	Elimina
    </button>

</ion-content>
