<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ng-container *ngIf="selected_pds; else initial_title">
                {{selected_pds.name | titlecase }}
            </ng-container>
            <ng-template #initial_title>{{app_name}}</ng-template>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ng-container *ngIf="show_welcome; else pds_available">
        <div class="welcome_container">

            <h2>Benvenuto in {{app_name}}!</h2>
            <p>
                Nessun piano di studi presente. Accedi all'apposita sezione
                nel menù in alto a sinistra (<i menuToggle class="material-icons icon-menu">menu</i>) per crearne uno.
                <button class="justify_left_button" ion-button full clear icon-left (click)="navigate_to_pds_page()">
                    <i class="material-icons icon_space">book</i>
                    I Miei Piani di Studi
                </button>
            </p>
            <p>
                Altrimenti puoi comunque usufruire della funzionalità di ricerca di docenti e corsi. <br />
                Potrai vederne le valutazioni ed i commenti lasciati dagli altri utenti, e lasciare un voto ed una recensione tu stesso.
                <button class="justify_left_button" ion-button full clear icon-left (click)="navigate_to_search_instructor_page()">
                    <i class="material-icons icon_space">school</i>
                    Cerca Docenti
                </button>
                <button class="justify_left_button" ion-button full clear icon-left (click)="navigate_to_search_course_page()">
                    <i class="material-icons icon_space">search</i>
                    Cerca Corsi
                </button>
            </p>
        </div>
    </ng-container>

    <ng-template #pds_available>

        <ion-item-divider class="divider">
            Corsi nel Piano di Studi
        </ion-item-divider>
        <ng-container *ngIf="selected_pds?.courses.length == 0">
            <ion-item class="empty_courses_message">
                Aggiungi un corso al Piano di Studi per iniziare...
            </ion-item>
        </ng-container>

        <ion-list>
            <div *ngFor="let course of merged_courses; let i=index" style="position:relative;">
                <button *ngIf="course.cfu != undefined" ion-item (click)="open_course(i)">
                    <ion-row nowrap>
                        <ion-col col-auto align-self-center>
                            <div class="dot">
                                {{course.cfu}}
                            </div>
                        </ion-col>
                        <ion-col col-8>
                            <ion-row>
                                <ion-col align-self-center>
                                    <p class="course_name">
                                        {{course.title}}
                                    </p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <p class="code">
                                        {{'(' + course.code + ')'}}
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </button>
                <button *ngIf="course.cfu != undefined" ion-button icon-only clear class="round_button remove_button" (click)="remove_course(i)">
                    <!-- <ion-icon name="close"></ion-icon> -->
                    <i class="material-icons">remove</i>
                </button>
            </div>
        </ion-list>



        <ion-item-divider class="divider">
            Corsi nel CdL
        </ion-item-divider>
        <ion-searchbar placeholder="Cerca corsi" (ionInput)="search_items($event.target.value)"></ion-searchbar>
        <ion-list>
            <div *ngFor="let m_course of merged_courses; let i=index">
                <ng-container *ngIf="m_course.visible">

                    <!-- Button version 1, single courses => expandable; code??? -->
                    <div ion-item style="position:relative;" *ngIf="m_course.cfu == undefined && m_course.available_cfus.length == 1" (click)="expand_item(i)">
                        <!-- <button ion-item (click)="open_course(i)"> -->
                        <ion-row class="first_row" nowrap>
                            <ion-col align-self-center col-auto style="padding-bottom: 0;">
                                <button ion-button icon-only clear class="round_button"> <i [@arrow_rotation]="expand_course[i] ? 'open' : 'closed'" class="material-icons">keyboard_arrow_down</i> </button>
                            </ion-col>
                            <ion-col align-self-center style="min-width:100px">
                                <p class="course_name">
                                    {{m_course.title}}
                                </p>
                            </ion-col>
                            <!-- <ion-col align-self-center col-auto>

                            </ion-col> -->
                        </ion-row>

                        <!-- </button> -->
                        <!-- <button ion-button icon-only clear class="round_button"  class="single_add_button" (click)="add_course(i)">
                        <i class="material-icons">add</i>
                    </button> -->
                        <ion-row class="second_row" nowrap>
                            <ion-col no-padding>
                                <expandable [expanded]="expand_course[i]">
                                    <ion-list class="list_padding">
                                        <div *ngFor="let cfu of m_course.available_cfus; let j=index" style="position: relative;">
                                            <button ion-item [attr.no-lines]="true" *ngIf="!(cfu == m_course.cfu)" (click)="open_course(i,j)">
                                                <ion-row>
                                                    <ion-col col-auto align-self-center style="padding-top:5px;">
                                                        <div class="dot">
                                                            {{cfu}}
                                                        </div>
                                                    </ion-col>
                                                    <ion-col style="padding-left:12px;" col-auto align-self-center>
                                                        <p>{{'(' + m_course.available_codes[j] + ')'}}</p>
                                                    </ion-col>
                                                </ion-row>
                                            </button>
                                            <button ion-button icon-only clear class="add_button round_button" (click)="add_course(i, cfu)">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </ion-list>
                                </expandable>
                            </ion-col>
                        </ion-row>
                    </div>


                    <!-- ************************************************************************************** -->


                    <!-- Button version 2, double courses => expandable; double add inside; code??? -->
                    <div ion-item *ngIf="m_course.available_cfus.length > 1" (click)="expand_item(i)">
                        <ion-row class="first_row" nowrap>
                            <!-- <ion-col col-auto align-self-center> -->
                            <!-- <ion-icon name="git-network"></ion-icon> -->
                            <!-- <i class="material-icons">call_split</i>
                        </ion-col> -->
                            <ion-col align-self-center col-auto style="padding-bottom: 0;">
                                <button ion-button icon-only clear class="round_button"> <i [@arrow_rotation]="expand_course[i] ? 'open' : 'closed'" class="material-icons">keyboard_arrow_down</i> </button>
                            </ion-col>
                            <ion-col align-self-center style="min-width:100px">
                                <p class="course_name">
                                    {{m_course.title}}
                                </p>
                            </ion-col>

                        </ion-row>
                        <ion-row class="second_row" nowrap>
                            <ion-col no-padding>
                                <expandable [expanded]="expand_course[i]">
                                    <ion-list class="list_padding">
                                        <div *ngFor="let cfu of m_course.available_cfus; let j=index" style="position: relative;">
                                            <button ion-item [attr.no-lines]="hide_line(j, m_course.cfu)" *ngIf="!(cfu == m_course.cfu)" (click)="open_course(i,j)">
                                                <ion-row>
                                                    <!-- <ion-col col-auto align-self-center>
                                                    {{cfu}}
                                                </ion-col> -->
                                                    <ion-col col-auto align-self-center>
                                                        <div class="dot">
                                                            {{cfu}}
                                                        </div>
                                                    </ion-col>
                                                    <ion-col style="padding-left:12px;" col-auto align-self-center>
                                                        <p>{{'(' + m_course.available_codes[j] + ')'}}</p>
                                                    </ion-col>
                                                </ion-row>
                                            </button>
                                            <button ion-button icon-only clear class="add_button round_button" (click)="add_course(i, cfu)">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </ion-list>
                                </expandable>
                            </ion-col>
                        </ion-row>
                    </div>
                </ng-container>
            </div>
        </ion-list>

    </ng-template>



</ion-content>
