page-home {
    $dot_color: color($colors, primary, base);

    .course_name {
        color: black;
        margin-bottom: 0;
        word-break: break-word;
        white-space: normal;
    }

    .empty_courses_message * {
        color: #bbbbbb;
        white-space: normal;
        font-size: 14px;
    }

    .divider {
        font-size: 16px;
    }

    .code {
        // color: #666;
        font-size: 12px;
    }

    .scroll-content {
        // padding-top: 0 !important;
    }

    .dot {
        height: 40px;
        width: 40px;
        background-color: $dot_color;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        font-weight: bold;
        color: white;
    }

    .round_button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .remove_button {
        position: absolute;
        right: 10px;
        top: 7px;
    }

    .add_button {
        position: absolute;
        // left: 175px;
        right: -6px;
        top: 1px;
    }

    .item-md {
        padding-left: 0;
    }

    .label-md {
        margin: 0 8px 0 0 !important;
    }

    .list_padding {
        padding-left: 35px;
    }

    .welcome_container {
        color: #797979;
        font-size: 16px;
    }

    .icon-menu {
        position: relative;
        top: 7px;
        margin-top: -8px;
    }

    .icon_space {
        padding-right: 6px;
    }

    .first_row .round_button {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .justify_left_button {
        padding-left: 0;

        span {
            justify-content: left;
        }
    }
}
