instructor-page {
    .title_padding {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 0;
    }

    .score {
        font-size: 1.8em;
        color: black;
        font-weight: bold;
    }

    .item_review .label-md {
        margin: 2px 8px 2px 0 !important;
    }

    .divider {
        font-size: 16px;
    }

    .edit_button {
        //color: #666;
        margin-bottom: 20px;
    }

    .round_button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        float: right;
        // display: inline-block;
        // text-align: right;
        // vertical-align: middle;
        // line-height: 40px;
    }

    .p_in_rating {
        padding-left: 5px;
    }

    .arrow_rating {
        float: right;
        margin-right: 8px !important;
    }

    .given_courses span {
        justify-content: left;
    }

    .col_no_top_bottom_padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}
