<ion-header>
    <ion-navbar color="primary">
        <ion-title>Docente</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item-group>
        <ion-row justify-content-center>
            <h3 text-center class="title_padding" *ngIf="selected_instructor | async">
                {{selected_instructor.value.name}}
            </h3>
        </ion-row>

        <ion-row justify-content-center>

            <ng-container *ngIf="ratings_source?.value?.length > 0">
                <ion-list>
                    <ion-item class="item_review">
                        <ion-row>
                            <ion-col col-auto no-padding>
                                <ionic3-star-rating text-center *ngIf="selected_instructor
    								   | async" activeIcon="star" defaultIcon="star-outline" activeColor="#488aff" defaultColor="#f4f4f4" readonly="true" [rating]="(selected_instructor
    								   | async).stars">
                                </ionic3-star-rating>
                            </ion-col>

                            <ion-col col-auto>
                                <p *ngIf="selected_instructor | async" style="margin-top: 3px">
                                    <span class="score">
                                        {{selected_instructor.value.stars.toFixed(1).split('.0')[0]}}
                                    </span>/5</p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item class="item_review">
                        <ion-row>
                            <ion-col col-8>
                                <p class="reviews">Recensioni:</p>
                            </ion-col>
                            <ion-col col-4>
                                <p text-center class="reviews" *ngIf="ratings_source | async">{{ratings_source.value.length}} </p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ng-container>
            <ng-container *ngIf="ratings_source?.value?.length === 0">
                <ion-list>
                    <ion-item>
                        <p>Nessuna recensione disponibile</p>
                    </ion-item>
                </ion-list>
            </ng-container>
        </ion-row>

    </ion-item-group>

    <ion-item-group>
        <ion-item-divider class="divider" color="light">Corsi tenuti</ion-item-divider>
        <ng-container *ngIf="selected_instructor | async">
            <button class="given_courses" ion-button clear full *ngFor="let course of (selected_instructor | async).courses; let i=index" (click)="open_course(i)">
                {{course.title}}
            </button>
        </ng-container>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider *ngIf="ratings_source.value && ratings_source.value.length > 0" class="divider" color="light">Commenti</ion-item-divider>

        <button *ngIf="!user_rating" ion-button full (click)="leave_new_rating()">Valuta</button>
        <button *ngIf="user_rating" ion-button full (click)="edit_rating()">Modifica la tua valutazione</button>


        <ion-card *ngFor="let rating of ratings_source | async; let i=index">

            <ion-item *ngIf="rating.comment">


                <ion-row align-items-center>
                    <ion-col col-auto>
                        <ion-avatar item-start>
                            <ion-icon name='contact' style="font-size:50px;"></ion-icon>
                        </ion-avatar>
                    </ion-col>

                    <ion-col col-auto>
                        <ion-row>
                            <ion-col>
                                <h2>{{rating.owner}}</h2>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="col_no_top_bottom_padding">
                                <p class="rating_star">
                                    <ion-icon name='star'></ion-icon> {{rating.stars}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col align-self-start text-right>
                        <button icon-only clear ion-button class="round_button edit_button" *ngIf="user_rating && rating.owner === user_rating.owner" (click)="edit_rating()">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                        <button icon-only clear ion-button class="round_button edit-button" *ngIf="user_rating && rating.owner === user_rating.owner" (click)="delete_rating()">
                            <i class="material-icons">
                                delete
                            </i>
                        </button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-auto>
                        <p>Creato il {{convert_date(rating.created)}}</p>
                    </ion-col>
                    <ion-col col-9>
                        <hr>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-card-content *ngIf="rating.comment">
                <div *ngIf="rating.comment.length <= limit">
                    <p class="p_in_rating">
                        {{rating.comment}}
                    </p>
                </div>
                <div *ngIf="truncating[i] && rating.comment.length > limit">
                    <p class="p_in_rating">
                        {{rating.comment | truncate: limit }}
                    </p>
                    <button class="arrow_rating" ion-button clear icon-only (click)="truncating[i] = false">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </button>
                </div>
                <div *ngIf="!truncating[i] && rating.comment.length > limit">
                    <p class="p_in_rating">
                        {{rating.comment}}
                    </p>
                    <button class="arrow_rating" ion-button clear icon-only (click)="truncating[i] = true">
                        <ion-icon name="arrow-dropup"></ion-icon>
                    </button>
                </div>
            </ion-card-content>

        </ion-card>
    </ion-item-group>

</ion-content>
