<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Piani di Studi</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="!user_pds_list || user_pds_list.length == 0; else at_least_one_pds">
        <ion-item-divider class="divider">
            Crea un piano di studi per iniziare. Utilizza il bottone + in fondo a destra.
        </ion-item-divider>
    </ng-container>
    <ng-template #at_least_one_pds>      

      <!-- begin merda -->
        <ion-item-divider class="divider">
	  Piano di Studi attualmente selezionato:
        </ion-item-divider>

      <ion-list *ngIf="user_pds_list.length > 0">
        <div style="position:relative;">
          <button ion-item (click)="expand_item(0)">
            <ion-row>
              <ion-col col-auto>
                <i class="material-icons">book</i>
              </ion-col>
              <ion-col col-6>
                <p class="pds_name"> {{user_pds_list[0].name}} </p>
              </ion-col>
            </ion-row>
                <ion-row class="second_row">
                  <ion-col>
                    <expandable [expanded]="expand_pds[0]">
                      <ion-list>
                        <ion-item class="course_title" *ngFor="let course of user_pds_list[0]?.courses">
                                  {{course.title | titlecase}}
                        </ion-item>
                      </ion-list>
                    </expandable>
                  </ion-col>
                </ion-row>
          </button>
          <div *ngIf="expand_pds[0]" class="absolute_buttons_container">
            <button ion-button icon-only clear class="goto-button" (click)="navigate_to_home_page()" [@enterLeave]>
                    <!-- <i class="material-icons"> arrow_forward </i> -->
                    Vai
            </button>
            <button ion-button icon-only clear class="add-button" (click)="delete_pds_index(0)" [@enterLeave]>
              <i class="material-icons"> delete </i>
                </button>
            <button ion-button icon-only clear class="add-button" (click)="rename_pds_index(0)" [@enterLeave]>
              <i class="material-icons"> edit </i>
            </button>
          </div>
        </div>
      </ion-list>

      <ng-container *ngIf="user_pds_list.length > 1">

	<ion-item-divider class="divider">
	  Piani di Studi supplementari:
	</ion-item-divider>
	<ion-list>
          <div *ngFor="let pds of user_pds_list; let i=index" style="position:relative;">
	    <ng-container *ngIf="i!==0">
	      <button ion-item (click)="expand_item(i)">
                <ion-row>
                  <ion-col col-auto>
                    <i class="material-icons">book</i>
                  </ion-col>
                  <ion-col col-6>
                    <p class="pds_name"> {{pds.name}} </p>
                    </ion-col>
                </ion-row>
                <ion-row class="second_row">
                  <ion-col>
                        <expandable [expanded]="expand_pds[i]">
                          <ion-list>
                            <ion-item class="course_title" *ngFor="let course of pds?.courses">
                              {{course.title | titlecase}}
                                </ion-item>
                          </ion-list>
                        </expandable>
                  </ion-col>
                </ion-row>
              </button>
              <div *ngIf="expand_pds[i]" class="absolute_buttons_container">
                <button ion-button icon-only clear class="goto-button" *ngIf="i==0" (click)="navigate_to_home_page()" [@enterLeave]>
                  <!-- <i class="material-icons"> arrow_forward </i> -->
                  Vai
                </button>
                <button ion-button icon-only clear class="goto-button" *ngIf="i!==0" (click)="select_pds(i)" [@enterLeave]>
                  <!-- <i class="material-icons"> done </i> -->
                  Scegli
                </button>
                <button ion-button icon-only clear class="add-button" (click)="delete_pds_index(i)" [@enterLeave]>
                  <i class="material-icons"> delete </i>
                </button>
                <button ion-button icon-only clear class="add-button" (click)="rename_pds_index(i)" [@enterLeave]>
                  <i class="material-icons"> edit </i>
                </button>
              </div>
	    </ng-container>
          </div>
    </ion-list>

      </ng-container>
      <!-- end merda -->
    <!--   <ion-item-divider class="divider"> -->
    <!-- 	Piano di Studi attualmente selezionato: -->
    <!--   </ion-item-divider> -->
      
    <!--   <ion-list *ngIf="user_pds_list.length > 0"> -->
    <!--     <div *ngFor="let pds of user_pds_list; let i=index" style="position:relative;"> -->
    <!--         <button ion-item (click)="expand_item(i)"> -->
    <!--             <ion-row> -->
    <!--                 <ion-col col-auto> -->
    <!--                     <i class="material-icons">book</i> -->
    <!--                 </ion-col> -->
    <!--                 <ion-col col-6> -->
    <!--                     <p class="pds_name"> {{pds.name}} </p> -->
    <!--                 </ion-col> -->
    <!--             </ion-row> -->
    <!--             <ion-row class="second_row"> -->
    <!--                 <ion-col> -->
    <!--                     <expandable [expanded]="expand_pds[i]"> -->
    <!--                         <ion-list> -->
    <!--                             <ion-item class="course_title" *ngFor="let course of pds?.courses"> -->
    <!--                                 {{course.title | titlecase}} -->
    <!--                             </ion-item> -->
    <!--                         </ion-list> -->
    <!--                     </expandable> -->
    <!--                 </ion-col> -->
    <!--             </ion-row> -->
    <!--         </button> -->
    <!--         <div *ngIf="expand_pds[i]" class="absolute_buttons_container"> -->
    <!--             <button ion-button icon-only clear class="goto-button" *ngIf="i==0" 
		     (click)="navigate_to_home_page()" [@enterLeave]> -->
    <!--                 Vai -->
    <!--             </button> -->
    <!--             <button ion-button icon-only clear class="goto-button"*ngIf="i!==0" 
		     (click)="select_pds(i)" [@enterLeave]> -->
    <!--                 Scegli -->
    <!--             </button> -->
    <!--             <button ion-button icon-only clear class="add-button" 
		     (click)="delete_pds()" [@enterLeave]> -->
    <!--                 <i class="material-icons"> delete </i> -->
    <!--             </button> -->
    <!--             <button ion-button icon-only clear class="add-button" 
		     (click)="rename_pds()" [@enterLeave]> -->
    <!--                 <i class="material-icons"> edit </i> -->
    <!--             </button> -->
    <!--         </div> -->

    <!--     </div> -->
    <!-- </ion-list> -->

    </ng-template>
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="show_prompt()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
