page-pds {
    ion-icon {
        font-size: 28px;
    }
    // .header_pds {
    //     margin-bottom: 0 !important;
    //     margin-top: -10px;
    //     border-top: 0;
    //
    //     ion-label {
    //         margin: 0;
    //     }
    // }
    .label-md {
        margin: 0 8px 0 0 !important;
        white-space: normal;
    }

    ion-list .label-md {
        margin: 6px 8px 6px 0 !important;
    }

    .item-md {
        padding-left: 0;
    }

    .divider {
        font-size: 16px;

        .label-md {
            margin: 0 8px 6px 0 !important;
        }
    }

    .pds_name {
        font-size: 20px;
        color: black;
        margin-bottom: 0;
    }

    .course_title {
        // text-transform: lowercase;
        color: #666;
        font-size: 14px;
        background-color: transparent;
    }

    .second_row ion-col {
        padding: 0 0 0 15px;
        // margin: 5px;
    }

    .add-button {
        $icons_margin: 0 !important;
        margin-left: $icons_margin;
        margin-right: $icons_margin;
        float: right;
        height: 40px;
        width: 40px;
        border-radius: 50%;

        .material-icons {
            font-size: 26px;
        }
    }

    .goto-button {
        $icons_margin: 4px !important;
        margin-left: $icons_margin;
        float: right;
        height: 40px;
        width: 46px;

        .material-icons {
            font-size: 26px;
        }
    }

    .absolute_buttons_container {
        position: absolute;
        top: -1px;
        right: 11px;
        width: 50%;
        height: 50px;
    }
}
