<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{app_name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
	<ng-container  *ngFor="let p of pages; let i=index">
            <button class="pages_names" ion-button clear full icon-left (click)="openPage(p)">
                <i class="material-icons"> {{icon_for_page[i]}} </i> &nbsp; {{p.title}}
            </button>
	    </ng-container>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
