expandable {
    // .expand-wrapper {
    //     transition: height 0.2s linear;
    // }
    // .collapsed {
    //     height: 0 !important;
    // }
    // .expand-wrapper * {
    //
    // }

    .no-pointer-events * {
        pointer-events: none !important;
    }
}
