<ion-header>
    <ion-navbar color="primary">
        <ion-title>Corso</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-group>
        <!-- ivan: messo per provare a dividere meglio i gruppi ma non cambia un cazzo. Forse c'è da aggiungere qualche opzione o da usare ion-item per ogni item.-->
        <ion-row justify-content-center>
            <h3 text-center class="title_padding" *ngIf="selected_course | async">
                {{selected_course.value.title}}
            </h3>
        </ion-row>
        <ion-row justify-content-center>

            <ng-container *ngIf="ratings_source?.value?.length > 0">
                <ion-list>
                    <ion-item class="item_review">
                        <ion-row>
                            <ion-col col-auto no-padding>
                                <ionic3-star-rating text-center *ngIf="selected_course
    								   | async" activeIcon="star" defaultIcon="star-outline" activeColor="#488aff" defaultColor="#f4f4f4" readonly="true" [rating]="(selected_course
    								   | async).stars">
                                </ionic3-star-rating>
                            </ion-col>

                            <ion-col col-auto>
                                <p *ngIf="selected_course | async" style="margin-top: 3px">
                                    <span class="score">
                                        {{selected_course.value.stars.toFixed(1).split('.0')[0]}}
                                    </span>/5</p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item class="item_review">
                        <ion-row>
                            <ion-col col-8>
                                <p class="reviews">Recensioni:</p>
                            </ion-col>
                            <ion-col col-4>
                                <p text-center class="reviews" *ngIf="ratings_source | async">{{ratings_source.value.length}} </p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ng-container>
            <ng-container *ngIf="ratings_source?.value?.length === 0">
                <ion-list>
                    <ion-item>
                        <p>Nessuna recensione disponibile</p>
                    </ion-item>
                </ion-list>
            </ng-container>
        </ion-row>
    </ion-item-group>

    <ion-item-group>
        <ng-container *ngIf="selected_course | async">
            <ion-row class="button_row">
                <ion-col>
                    <button ion-button outline small icon-left *ngIf="selected_pds && is_in_pds" (click)="remove_course()"> <i class="material-icons">remove</i> Rimuovi dal PdS</button>
                    <button ion-button outline small icon-left *ngIf="selected_pds && !is_in_pds" (click)="add_course_or_change_version()"> <i class="material-icons">add</i> Aggiungi al PdS</button>
                    <button ion-button outline small *ngIf="selected_pds && is_in_pds && is_double" (click)="add_course_or_change_version()"> <i class="material-icons">edit</i> Cambia versione</button>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-item *ngIf="is_in_pds && is_double" >Versione nel PdS: {{selected_course.value.cfu}} CFU</ion-item>
            </ion-row>
            <ion-item-divider class="divider" *ngIf="(selected_course | async).instructors.length == 1" color="light">Docente</ion-item-divider>
            <ion-item-divider class="divider" *ngIf="(selected_course | async).instructors.length > 1" color="light">Docenti</ion-item-divider>
            <button class="course_instructors" ion-button clear full *ngFor="let prof of (selected_course | async).instructors" (click)="open_instructor(prof.id)">
                {{prof.name}}
            </button>

            <ion-item-divider class="divider" color="light" *ngIf="(selected_course | async).department ||
				     (selected_course | async).sector ||
				     (selected_course | async).cdl ||
				     (selected_course | async).teaching_period ||
				     (selected_course | async).mutuazioni ||
				     (selected_course | async).methods ||
				     (selected_course | async).exam ||
				     (selected_course | async).teaching_schedule">
                Informazioni
            </ion-item-divider>
            <ion-item>
                <p class="first_p newline_wrap" *ngIf="(selected_course | async).available_cfus" text-wrap>
                    <b>CFU disponibili: </b>{{'\n' + print_cfus(selected_course.value.available_cfus)}}
                </p>
                <p *ngIf="(selected_course | async).department" text-wrap class="newline_wrap">
                    <b>Dipartimento: </b>{{'\n' + selected_course.value.department}}
                </p>

                <p *ngIf="(selected_course | async).sector" text-wrap class="newline_wrap">
                    <b>Settore: </b>{{'\n' + selected_course.value.sector}}
                </p>

                <p *ngIf="(selected_course | async).cdl" text-wrap class="newline_wrap">
                    <b>Corso di Laurea: </b>{{'\n' + selected_course.value.cdl}}
                </p>

                <p *ngIf="(selected_course | async).teaching_schedule" text-wrap class="newline_wrap">
                    <b>Periodo delle lezioni: </b>{{'\n' + selected_course.value.teaching_schedule}}
                </p>


                <p *ngIf="(selected_course | async).teaching_period" text-wrap class="newline_wrap">
                    <b>Data di inizio e fine lezioni: </b>{{'\n' + selected_course.value.teaching_period}}
                </p>

                <p *ngIf="(selected_course | async).mutuazioni &&
			   !(selected_course | async).mutuazioni==='*MANCANTE*'" text-wrap class="newline_wrap">
                    <b>Mutuazioni: </b>{{'\n' + selected_course.value.mutuazioni}}
                </p>

                <p *ngIf="(selected_course | async).methods" text-wrap class="newline_wrap">
                    <b>Metodologia di insegnamento: </b>{{'\n' + selected_course.value.methods}}
                </p>

                <p *ngIf="(selected_course | async).exam" text-wrap class="newline_wrap">
                    <b>Tipologia di esame: </b>{{'\n' + selected_course.value.exam}}
                </p>

                <p *ngIf="(selected_course | async).textbooks" text-wrap class="newline_wrap">
                    <b>Libri consigliati: </b>{{'\n' + selected_course.value.textbooks}}
                </p>

            </ion-item>

            <div>
                <ion-item-divider style="position: relative;" class="divider" color="light" *ngIf="(selected_course | async).content || (selected_course | async).objectives" (click)="expand('objectives_and_content')">
                    Obiettivi e Contenuti del Corso
                    <button ion-button icon-only clear color="dark" class="round_button expand_button"> <i [@arrow_rotation]="expanded_item['objectives_and_content'] ? 'open' : 'closed'" class="material-icons">keyboard_arrow_down</i> </button>
                </ion-item-divider>

                <expandable [expanded]="expanded_item['objectives_and_content']" (click)="expand('objectives_and_content')">
                    <ion-item>
                        <p [@openClose]="expanded_item['objectives_and_content'] ? 'open' : 'closed'" class="first_p newline_wrap" *ngIf="(selected_course | async).objectives" text-wrap>
                            <b>Obiettivi: </b>{{'\n' + selected_course.value.objectives}}
                        </p>

                        <p [@openClose]="expanded_item['objectives_and_content'] ? 'open' : 'closed'" *ngIf="(selected_course | async).content" text-wrap class="newline_wrap">
                            <b>Contenuti :</b> {{'\n' + selected_course.value.content}}
                        </p>

                    </ion-item>
                </expandable>
            </div>

            <div>
                <ion-item-divider style="position: relative;" class="divider" color="light" *ngIf="(selected_course | async).program" (click)="expand('program')">
                    Programma dettagliato del Corso
                    <button ion-button icon-only clear color="dark" class="round_button expand_button"> <i [@arrow_rotation]="expanded_item['program'] ? 'open' : 'closed'" class="material-icons">keyboard_arrow_down</i> </button>
                </ion-item-divider>
                <expandable [expanded]="expanded_item['program']" (click)="expand('program')">
                    <ion-item>
                        <p [@openClose]="expanded_item['program'] ? 'open' : 'closed'" class="first_p newline_wrap" text-wrap style="white-space: pre-line;">
                            {{selected_course.value.program}}
                        </p>
                    </ion-item>
                </expandable>
            </div>
        </ng-container>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider *ngIf="ratings_source.value && ratings_source.value.length > 0" class="divider" color="light">Commenti</ion-item-divider>


        <button *ngIf="!user_rating" ion-button full (click)="leave_new_rating()">Valuta</button>
        <button *ngIf="user_rating" ion-button full (click)="edit_rating()">Modifica la tua valutazione</button>

        <ion-card *ngFor="let rating of ratings_source | async; let i=index">


            <ion-item *ngIf="rating.comment">

                <ion-row align-items-center>
                    <ion-col col-auto>
                        <ion-avatar item-start>
                            <ion-icon name='contact' style="font-size:50px;"></ion-icon>
                        </ion-avatar>
                    </ion-col>

                    <ion-col col-auto>
                        <ion-row>
                            <ion-col>
                                <h2>{{rating.owner}}</h2>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-auto class="col_no_top_bottom_padding">
                                <p class="rating_star p_in_rating_font">
                                    <ion-icon name='star'></ion-icon> {{rating.stars}}
                                </p>
                            </ion-col>
                            <ion-col class="col_no_top_bottom_padding">
                                <p class="p_in_rating_font">
                                    cfu: {{rating.cfu}}
                                </p>
                            </ion-col>

                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="p_in_rating_font">
                                    A.A. {{rating.academic_year}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col align-self-start text-right>
                        <button icon-only clear ion-button class="round_button edit-button" *ngIf="user_rating && rating.owner === user_rating.owner" (click)="delete_rating()">
                            <i class="material-icons">
                                delete
                            </i>
                        </button>
                        <button icon-only clear ion-button class="round_button edit_button" *ngIf="user_rating && rating.owner === user_rating.owner" (click)="edit_rating()">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </ion-col>

                </ion-row>

                <ion-row>
                    <ion-col col-auto>
                        <p>Creato il {{convert_date(rating.created)}}</p>
                    </ion-col>
                    <ion-col col-9>
                        <hr>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-card-content *ngIf="rating.comment">
                <div *ngIf="rating.comment.length <= limit">
                    <p class="p_in_rating">
                        {{rating.comment}}
                    </p>
                </div>
                <div style="position:relative" *ngIf="truncating[i] && rating.comment.length > limit">
                    <p class="p_in_rating">
                        {{rating.comment | truncate: limit }}
                    </p>
                    <button class="arrow_rating round_button" ion-button clear icon-only (click)="truncating[i] = false">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </div>
                <div style="position:relative" *ngIf="!truncating[i] && rating.comment.length > limit">
                    <p class="p_in_rating">
                        {{rating.comment}}
                    </p>
                    <button class="arrow_rating round_button" ion-button clear icon-only (click)="truncating[i] = true">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </button>
                </div>
            </ion-card-content>

        </ion-card>
    </ion-item-group>

</ion-content>
