course-page {
    .score {
        font-size: 1.8em;
        color: black;
        font-weight: bold;
    }

    .reviews {
        color: #666;
        font-size: 1.1em;
    }

    .divider {
        font-size: 16px;
    }

    .item-md.item-block .item-inner {
        border-bottom: 0;
    }

    .rating_star {
        color: #666;
        margin-top: -1px;
    }

    .first_p {
        margin-top: -18px;
    }

    .edit_button {
        //color: #666;
        margin-bottom: 20px;
        float: right;
    }

    .expand_button {
        position: absolute;
        right: 10px;
        top: 0;
    }

    .round_button {
        height: 40px !important;
        width: 40px;
        border-radius: 50%;
    }

    .item_review .label-md {
        margin: 2px 8px 2px 0 !important;
    }

    .newline_wrap {
        white-space: pre-line !important;
    }

    .title_padding {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 0;
    }

    .p_in_rating_font {
        font-size: 1.4rem;
    }

    .p_in_rating {
        padding-left: 5px;
    }

    .arrow_rating {
        float: right;
        margin-right: 8px !important;
    }

    .course_instructors span {
        justify-content: left;
    }

    .col_no_top_bottom_padding {
        padding-top: 0;
        padding-bottom: 0;
    }

    .button_row {
        text-align: center;
        .material-icons {
            font-size: 20px;
            padding-right: 3px;
        }
    }
}
