<ion-header>
    <ion-navbar color="primary">
        <ion-title *ngIf="!existing_rating">Valuta</ion-title>
        <ion-title *ngIf="existing_rating">Modifica la tua valutazione</ion-title>
        <ion-buttons end>
            <button ion-button clear end icon-only *ngIf="selected_course | async" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>

        <ion-row justify-content-center>
            <h3 text-center *ngIf="selected_course">
                {{selected_course.value.title}}
            </h3>
        </ion-row>

        <form [formGroup]="rating_form">

            <ion-list radio-group formControlName="cfu" *ngIf="(selected_course |
					  async).available_cfus.length > 1" [class.invalid]="!rating_form.controls.cfu.valid
					  && submit_attempt">
                <ion-item *ngFor="let credit of (selected_course |
			  async).available_cfus">
                    <ion-label>{{credit}} CFU</ion-label>
                    <ion-radio value="{{credit}}">
                    </ion-radio>
                </ion-item>
            </ion-list>

            <ion-item>
                <ion-label>Anno Accademico</ion-label>
                <ion-select cancelText="Cancella" formControlName="academic_year" interface="action-sheet" [class.invalid]="!rating_form.controls.academic_year.valid && (submit_attempt)">
                    <ion-option *ngFor="let a_year of academic_years" value="{{a_year}}">{{a_year}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>

                <ion-label style="color: #999;">
                    Stelle:
                    <ionic3-star-rating text-center #stars activeIcon="star" defaultIcon="star-outline" defaultColor="#f4f4f4" readonly="false" [rating]="existing_rating?existing_rating.stars:3">
                    </ionic3-star-rating>
                </ion-label>
            </ion-item>

            <ion-item class="comment_item">
                <ion-label floating>Commento (facoltativo)</ion-label>
                <ion-textarea formControlName="comment" autocomplete="on" autocorrect="on" [value]="existing_rating?existing_rating.comment:''">
                </ion-textarea>
            </ion-item>
            <button ion-button full type="submit" [disabled]="!rating_form.valid" color="primary" (click)="save_rating()">Salva</button>
        </form>
        <button *ngIf="existing_rating" ion-button full type="submit" (click)="delete_rating()" color="primary">Elimina</button>

    </ion-list>




</ion-content>
