page-course-rating {
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .swiper-slide {
        display: block;
    }

    .select-text,
    ion-label {
        margin-left: 10px;
    }

    ion-input,
    ion-select,
    ion-textarea {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

    .invalid {
        border: 1px solid #ea6153;
    }

    ion-item.comment_item .item-inner {
        box-shadow: none !important;
    }

}
